.touch{
    //height: 314px;
    background-color: #CEC4BC;
    &__block{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__desc{
        width: 576px;
    }
    &__subtitle{
        color: $second-color;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    &__title{
        color: $main-color;
        font-weight: 400;
        font-size: 40px;
        line-height: 42px;
    }
    &__button{
        display: block;
        width: 146px;
        background-color: #CEC4BC;
        margin: auto 0;
        border: none;
    }
}